.pokemonList-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0;

}
.listname{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #252525;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
}
hr{
    width: 100%;
    height: 2px;
    background-color: #252525;
    border: none;
    margin: 20px 0;
}
.pokeList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}
.pokeList h2{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: #252525;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
    margin-left: 450px;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
button{
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #187da8;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000000;

}
