.pokemonList-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0;

}
.listname{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #252525;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
}
hr{
    width: 100%;
    height: 2px;
    background-color: #252525;
    border: none;
    margin: 10px 0;
}
.pokeList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
    margin: 0 auto;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
button{
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #187da8;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000000;

}
.btn1:hover{
    color: #ca3d44;
    border: rgb(31, 114, 197) 2px solid;
}
.btn2:hover{
    color: #d94f4f;
    border:rgb(31, 114, 197) 2px solid;
}