
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pokemon{
    width: auto;
    height: auto;
}
.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.pokelists{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #112233;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
}