
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pokemon{
    width: auto;
    height: auto;
}
.pokemon:hover{
    transform: scale(1.0.5);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: antiquewhite;
}
.Link{
    text-decoration: none;
    color: #112233;
}
.img{
    width: 200px;
    height: 200px;
    margin: 0 40px;
}
.pokelists{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #112233;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
}